.searchContainer {
  display: flex;
  flex-direction: column;
  padding: 90px 10px 0 10px;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.2);
}
.searchContainer > h1 {
  color: #fff;
  margin-left: 20px;
  margin-bottom: 20px;
}

.searchResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.searchResult {
  width: calc(25% - 40px);
  margin: 0 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 920px) {
  .searchResult {
    width: 300px;
  }
}
