.filmList {
  background: #161616;
  color: #fff;
  padding: 50px;
}

.filmList .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filmList .header > button {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
